<!DOCTYPE html>
<html>
  <head>
    <title>SimpleCms: <%= @page_title || "Admin Area" %></title>
    <%= stylesheet_link_tag('admin', media: 'all') %>
  </head>

  <body>
    <!-- Header -->
    <header>
      <h1>Simple CMS Admin</h1>
    </header>

    <div id="notice">
     <%= notice %>
    </div>

    <!-- Main Content Yeiled by Views -->
    <main id="main" class="main">

      <article class="article" id="content">
        <%= yield %>
      </article>
    </main>

    <!-- Footer -->
    <footer>Copyright &copy; Lynda.com</footer>
  </body>
</html>
