<!DOCTYPE html>
<html>
  <head>
    <title>SimpleCms<%= " | #{@page_title}" if @page_title %></title>
    <%= stylesheet_link_tag('application', media: 'all') %>
  </head>
  <body>
    <!-- Header -->
    <header>
      <h1>Simple CMS</h1>
    </header>

    <!-- Main Content Yeiled by Views -->
    <main id="main" class="main">
      <!-- Navigation / Menu -->
      <nav>
        <%= render(:partial => 'layouts/navigation', locals: {subjects: @subjects} ) %>
      </nav>

      <article class="article" id="content">
        <%= yield %>
      </article>
    </main>

    <!-- Footer -->
    <footer>Copyright &copy; Lynda.com</footer>

  </body>
</html>
